.error-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  .title {
    animation: glowing-error 5s infinite ease-in-out;
    color: $red;
    font-size: 20vmin;
    margin-bottom: 0;
  }

  .undertitle {
    font-size: 6vmin;
    margin-bottom: 0;
  }
}

body::after {
  align-items: center;
  color: $red;
  content: attr(data-small-screen);
  display: none;
  font-size: 64px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000;
}
