#render-text {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  min-height: 40px;
  min-width: 300px;
  padding: .1em;
  position: relative;
  white-space: pre;
  width: 600px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 153px;
  overflow: hidden;
  --scroll: 0;
}

#render-text .word {
  margin: 4px 8px;
  padding: 0 4px;
  border-radius: 2px;
  transition: .2s transform;
  transform: translateY(calc(var(--scroll) * -51px));
}

#render-text .word.current {
  background: #303030;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  vertical-align: middle;
}

.title-container .title {
  font-size: 4.7rem;
  font-weight: bold;
  margin-bottom: 0;
}

.title-container .flag-emoji { margin-right: 1em; }
.title-container .flag-emoji img { width: 7rem; }

#your-attempt {
  background: #303030;
  border: 2px solid #ccc;
  margin: 2em auto;
  margin-bottom: .5em;
  width: 600px;
  min-height: 100px;
  padding: 10px;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  pointer-events: none;
}

.typing-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score p {
  margin: 0 .5em;
  font-weight: bold;
}

.wrong {
  background-color: #e74c3c;
  color: #fff;
}

.select-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-lang .image {
  width: 100px;
  height: 100px;
  display: inline-block
}

.select-lang .name {
  font-size: 22px;
  font-weight: bold;
}
