#render-text {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  min-width: 300px;
  position: relative;
  white-space: pre;
  width: 600px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 153px;
  max-height: 153px;
  overflow: hidden;
  --scroll: 0;
}

@keyframes finish {
  0% { opacity: 0; transform: scale(4); }
  75% { transform: scale(.8) rotate(-7deg); }
  100% { opacity: 100%; transform: rotate(-8deg); }
}

@keyframes finish-background {
  0% { opacity: 0; } 100% { opacity: 100%; }
}

.finish-anim::before {
  animation: finish-background forwards .25s;
  background-color: rgba(0, 0, 0, .9);
  content: ' ';
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.finish-anim::after {
  align-items: center;
  animation: finish forwards .45s;
  color: #2ecc71;
  content: attr(data-finish);
  display: flex;
  font-size: 58px;
  height: 100%;
  justify-content: center;
  letter-spacing: 5px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 999999999
}

#render-text .word {
  margin: 4px 8px;
  padding: 0 4px;
  border-radius: 2px;
  transition: .2s transform;
  height: 43px;
  line-height: 43px;
  transform: translateY(calc(var(--scroll) * -51px));
}

#render-text .word.current {
  background: #303030;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  vertical-align: middle;
}

.title-container .title {
  font-size: 4.7rem;
  font-weight: bold;
  margin-bottom: 0;
}

.title-container .flag-emoji { margin-right: 1em; }
.title-container .flag-emoji img { width: 7rem; }

#your-attempt {
  background: #303030;
  border: 2px solid #ccc;
  margin: 2em auto;
  margin-bottom: .5em;
  width: 600px;
  min-height: 100px;
  padding: 10px;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  pointer-events: none;
}

.typing-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  position: relative;
}

body::after {
  align-items: center;
  color: #e74c3c;
  content: attr(data-small-screen);
  display: flex;
  font-size: 64px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

@media (max-width: 600px) {
  body::after { opacity: 1; }
  .typing-test-container { display: none; }
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score p {
  margin: 0 .5em;
  font-weight: bold;
}

.wrong {
  background-color: #e74c3c;
  color: #fff;
}

.select-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-lang .image {
  width: 100px;
  height: 100px;
  display: inline-block
}

.select-lang .name {
  font-size: 22px;
  font-weight: bold;
}
