<html>
    <head>
        {% include "_head.html" %}
        {% set icon = "https://twemoji.maxcdn.com/2/72x72/2139.png" %}
        <title>About Typing Test</title>
        <meta content="{{ icon }}" property="og:image" />
        <link rel="icon" type="image/x-icon" href="{{ icon }}">
        <meta content="About Typing Test" property="og:title" />

        <meta content="Some information about Typing test" property="og:description" />
        <meta content="Some information about Typing test" name="description" />
        <meta property="og:locale" content="en_GB" />
    </head>
    <body class="github-font-standard {{ theme }}">
      {% include "_toggle_theme.html" %}
      <section class="container">
        <div class="about-container">
          <img src="{{ icon }}" width="72px" height="72px">
          <p class="title">About Typing Test</p>
        </div>
        <div class="markdown-container">
          {{ readme | markdown }}
        </div>
      </section>
    </body>
</html>
