<html>
  <head>
    {% include "_head.html" %}
  </head>
  <body class="github-font-standard">
    <div class="typing-test-container">
      <h1 class="title">
        <a href="/languages"><img src="{{ emoji }}" class="flag-emoji"></a>
        TypingTest.py
      </h1>
      <div class="score">
        <p>Seconds: <span id="seconds">60</span></p>
        <p>WPM: <span id="wpm">0</span></p>
        <p>Errors: <span id="errors">0</span></p>
        <button id="reset">Reset</button>
      </div>
      <div id="render-text"></div>
      <div id="your-attempt"></div>
      <textarea name="" id="your-typing" autofocus autocomplete="off"></textarea>
      <p class="alizarin-text">Note: This site is still WIP, expect bugs and weird behaviours...</p>

      <script>
        let speedtest = new WordManager({
          words: {{ words | safe }},
          render_text: "render-text"
        })
        speedtest.render()

        document.body.addEventListener("click", event => {
          document.getElementById("your-typing").focus()
        })

        document.getElementById("reset").addEventListener("click", event => {
          speedtest.reset()
        })

        document.getElementById("your-typing").addEventListener("keypress", event => {
          let words = document.getElementById("your-attempt")
          speedtest.keypress(words, event)
        })
      </script>
    </div>
  </body>
</html>
