<html>
  <head>
    {% include "_head.html" %}
    <title>{{ language['typing_test'] }}</title>
    <meta content="{{ language['emoji'] }}" property="og:image" />
    <link rel="icon" type="image/x-icon" href="{{ language['emoji'] }}">
    <meta content="{{ language['typing_test'] }}" property="og:title" />

    <meta content="{{ language['description'] }}" property="og:description" />
    <meta content="{{ language['description'] }}" name="description" />
    <meta property="og:locale" content="en_GB" />
  </head>
  <body class="github-font-standard">
    <div class="box-container alizarin-flat message">
      <p>Note: This site is still WIP, expect bugs and weird behaviours...</p>
    </div>
    <div class="typing-test-container">
      <div class="title-container">
        <a href="/languages" class="flag-emoji tooltip" data-tooltip="{{ language['select_languages'] }}">
          <img src="{{ language['emoji'] }}">
        </a>
        <p class="title">{{ language['typing_test'] }}<span class="label sun-flower black-text" style="vertical-align: text-top; margin-top: 1.5em;">ALPHA</span></p>
      </div>
      <div class="score">
        <p>{{ language['seconds'] }}: <span id="seconds">60</span></p>
        <p>CPM: <span id="cpm">0</span></p>
        <p>WPM: <span id="wpm">0</span></p>
        <p>{{ language['errors'] }}: <span id="errors">0</span></p>
        <button id="reset">{{ language['reset'] }}</button>
      </div>
      <div id="render-text"></div>
      <textarea name="" id="your-attempt" autofocus autocomplete="off"></textarea>
      <p class="emerald-text" id="start-text">{{ language['start_text'] }}</p>

      <script>
        window.TranslationData = {
          FINISH_WORD: "{{ language['finish_word'] }}"
        }

        const speedtest = new WordManager({{ words | safe }}, "render-text")
        speedtest.pickWords()
        speedtest.render()

        document.body.addEventListener("click", event => {
          document.getElementById("your-attempt").focus()
        })

        document.getElementById("reset").addEventListener("click", event => {
          speedtest.reset()
        })

        document.getElementById("your-attempt").addEventListener("keydown", event => speedtest.keydown(event))
      </script>
    </div>
  </body>
</html>
