<html>
  <head>
    {% include "_head.html" %}
  </head>
  <body class="github-font-standard">
    <div class="typing-test-container">
      <div class="title-container">
        <a href="/languages" class="flag-emoji tooltip" data-tooltip="{{ language['select_languages'] }}">
          <img src="{{ language['emoji'] }}">
        </a>
        <p class="title">{{ language['typing_test'] }}<span class="label sun-flower black-text" style="vertical-align: text-top; margin-top: 1.5em;">ALPHA</span></p>
      </div>
      <div class="score">
        <p>{{ language['seconds'] }}: <span id="seconds">60</span></p>
        <p>CPM: <span id="cpm">0</span></p>
        <p>WPM: <span id="wpm">0</span></p>
        <p>{{ language['errors'] }}: <span id="errors">0</span></p>
        <button id="reset">{{ language['reset'] }}</button>
      </div>
      <div id="render-text"></div>
      <div id="your-attempt"></div>
      <textarea name="" id="your-typing" autofocus autocomplete="off"></textarea>
      <p class="alizarin-text">Note: This site is still WIP, expect bugs and weird behaviours...</p>

      <script>
        let speedtest = new WordManager({
          words: {{ words | safe }},
          render_text: "render-text"
        })
        speedtest.render()

        document.body.addEventListener("click", event => {
          document.getElementById("your-typing").focus()
        })

        document.getElementById("reset").addEventListener("click", event => {
          speedtest.reset()
        })

        document.getElementById("your-typing").addEventListener("keypress", event => {
          let words = document.getElementById("your-attempt")
          speedtest.keypress(words, event)
        })
      </script>
    </div>
  </body>
</html>
