<html>
    <head>
        {% include "_head.html" %}
        <title>Select language</title>
        <meta content="https://twemoji.maxcdn.com/2/svg/1f1ea-1f1fa.svg" property="og:image" />
        <link rel="icon" type="image/x-icon" href="https://twemoji.maxcdn.com/2/svg/1f1ea-1f1fa.svg">
        <meta content="Select language" property="og:title" />

        <meta content="Select a language to type in..." property="og:description" />
        <meta content="Select a language to type in..." name="description" />
        <meta property="og:locale" content="en_GB" />
    </head>
    <body class="github-font-standard {{ theme }}">
        {% include "_toggle_theme.html" %}
        <section class="container">
            <h1>Choose a language:</h1>
            <div class="flex-grid">
                {% for i in languages | sort(attribute="language") %}
                <div class="col-xs-3 select-lang">
                    <a href="/languages/{{ i['language_code'] }}" class="tooltip" data-tooltip="{{ i['language'] }}">
                        <img src="{{ i['emoji'] }}" class="image">
                    </a>
                </div>
                {% endfor %}
              </div>
        </section>
    </body>
</html>
